/*body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}*/
body, html {
    height: 100%;
    color: #000;
    line-height: 1.8;
    font-family: 'Georgia', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Georgia', serif;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}


.jumbotron .title {
    background-color: #000;
    width: 40%;
    margin: 3% auto;
    padding: 1%;
    font: italic bold 35px Georgia serif;
    color: #fff;
}

.horsePix {
  border: 1px solid #000;
}

#about, #studs_foals, #for_sale {
    padding: 50px;
}

.spacing {
  margin-bottom: 30px;
}

.about_info {
    font-size: 1.5em;
    padding: 20px;
}

#studs_foals {
  background-color: #e6e6e6;
}

/* FOOTER */

footer {
   background-color: #555;
   color: #fff;
  }

  .rafter_photography {
     font: italic bold 25px Playfair Display, serif;
     border: 1px dashed #fff;
     padding: 2%;
     margin-top: 3%;
     text-align: center;
     float: right;
 }

 .rafter_photography a {
     text-decoration: underline;
     color: #66b3ff;
 }

  .contact_info {
  text-align: center;
  font-size: 14px;
  padding: 2%;
  margin-top: 4%;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../img/cold_morning.jpg');
    min-height: 100%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

 @media screen and (max-width: 768px) {
      .jumbotron .title {
        font-size: 22px;
        margin: 25% auto;
        width: 60%;
      }
        /*.jumbotron .rafter_photography {
        font-size: 22px;
        margin: 10% auto;
        }*/
    }

@media only screen and (max-width: 768px) {
    .navbar-brand{font-size: 14px;}
    .rafter_photography, .quarter_horse {
        display: none;
        }
}
