* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', 'Arial', sans-serif;
  /*scroll-behavior: smooth;*/
}

html, body {
    height: 100%;
    background-color: #ae9673;
    color: #000;
}

a {
  text-decoration: none;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  font-family: trajan-sans-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #ae9673;
}

/* NAVIGATION */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: #000;
  }

  #logo img {
  height: 175px;
  width: auto;
  justify-self: start;
  position: absolute;
  top: 0;
  transition: 0.2s;
  z-index: 999;
  }

  header ul {
    position: relative;
    display: flex;
  }

  header ul li {
    position: relative;
    list-style: none;
  }

  header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
  }

/* SECTIONS */

.headline {
  width: 100%;
  height: 110vh;
  min-height: 500px;
}

.about,
.contact {
  padding: 100px;
}

.studs,
.mares,
.sale,
.broodMare,
.gallery {
  padding: 160px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

img {
  max-width: 100%;
  border: 1px solid #000;
}

.heading {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
}

.heading h2, 
.stud-heading h2,
.mare-heading h2 {
  font-weight: 600;
  font-size: 2.5em;
}

.stud-heading {
  background-image: url('../images/stud2.jpg');
  background-size: cover;
}

.mare-heading {
  background-image: url('../images/mares002.jpg');
  background-size: cover;
}

.stud-heading,
.mare-heading {
  width: 100%;
  height: 25vw;
  position: relative;
  top: 75px;
  display: flex;
}

.stud-heading h2,
.mare-heading h2 {
  background-color: #000;
  color: #fff;
  margin: auto;
  width: 35%;
  text-align: center;
  padding: 1%;
}

.aboutBx {
  margin-bottom: 10px;
  padding-right: 20px;
  line-height: 1.75;
  font-size: 1.25em;
}

.w50 {
  width: 100%;
}

.horse_name {
  font-weight: bold;
  font-style: italic;
  color: darkred;
}

.studs .content {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.broodMare .content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 20px;
}

.description .content {
  display: flex;
  justify-content: center;
}

.studs .content .studBx,
.broodMare .content .broodMareBx {
  max-width: 100%;
  /*margin: 0 auto;*/
  padding-bottom: 50px;
}

.mares {
  background-color: #ae9673;
}

.mares .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.mares .content .maresBx {
  max-width: 100%;
  margin: 0 auto;
  background-color: #c7b79e;
  padding-bottom: 10px;
}

.gallery .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}

.gallery .content .galleryBx {
  max-width: 100%;
  margin: 0 auto;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  top: 5%;
  padding: 0;
  width: 90%;
  max-width: 500px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 100px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.sale {
  height: 40vh;
}

.studInfo,
.mareInfo,
.broodMareInfo {
  line-height: 1.5;
  width: 100%;
}

.studInfo h1, .studInfo p {
  text-align: left;
}

.mareInfo h1, 
.mareInfo h2, 
.mareInfo p,
.broodMareInfo p {
  text-align: center;
}

.studInfo p,
.mareInfo p,
.broodMareInfo p {
  font-style: italic;
  font-size: 1.25em;
  padding: 2px;
}

td {
  padding: 8px;
  font-size: 0.85em;
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.right {
  text-align: right;
}

.pagination {
  display: inline-block;
}

.pagination a {
  background-color: #fff;
  color: #000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  font-size: 1em;
}

.pagination a.active {
  background-color: #604020;
  color: white;
  border: 1px solid #604020;
}

/*.pagination a:hover:not(.active) {background-color: #ddd;}*/

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact {
    background: #111;
  }

  .formBx {
    min-width: 60%;
  }

  .formBx form {
    display: flex;
    flex-direction: column;
  }

  .formBx form h3, .contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .formBx form input,
  .formBx form textarea  {
    margin-bottom: 20px;
    padding: 15px;
    background: #222;
    color: #fff;
    border: none;
    outline: none;
    resize: none;
  }

  .formBx form textarea {
    min-height: 200px;
  }

  .formBx form input::placeholder,
  .formBx form textarea::placeholder {
    color: #999;
  }

  .formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .contactInfo {
    min-width: 40%;
  }

  .contactInfoBx {
    position: relative;
  }

  .contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
  }

  .contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
  }

  .contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }

  .contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
  }

  .contactInfoBx .box .icon a {
    color: #fff;
  }

  .white {
    color: #fff;
  }

  .copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  .form-submission {
    background-color: #c7b79e;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(40%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

  @media only screen and (max-width: 800px) {

  .about,
  .contact {
      padding: 100px 50px;
  }

  .studs,
  .mares,
  .sale,
  .broodMare,
  .gallery {
    padding: 160px 50px;
  }

  .content {
    flex-direction: column;
  }

  .w50 img {
    margin-top: 20px;
  }

  .contact-info {
    flex-direction: column;
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* STUDS */
.studs .content,
.broodMare .content {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.studs .content .studBx {
  width: 100%;
  margin-top: 30px;
}

.mares .content,
.gallery .content {
  grid-template-columns: 1fr 1fr;
}

  /* MOBILE HEADINGS */

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */
  /*header.sticky*/
  header {
      padding: 20px 50px;
      z-index: 1000;
    }

    .menu {
      position: fixed;
      top: 80px;
      left: -100%;
      display: block;
      padding: 100px 50px;
      text-align: center;
      width: 100%;
      height: 100vh;
      background: #ae9673;
      transition: 0.5s ease-in-out;
      /*z-index: 999;*/
      border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active {
      left: 0;
    }
    header ul li a {
      color: #111;
      font-size: 24px;
      margin: 10px;
    }
    .toggle {
      width: 40px;
      height: 40px;
      background: url(../images/menu.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: pointer;
    }
    .toggle.active {
      background: url(../images/close.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 25px;
      cursor: pointer;
    }

  /* SECTIONS */

  .headline {
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 630px) {

  #logo img {
  height: 16.62049861495845vh;
  justify-self: start;
  position: absolute;
  top: 0;
  left: 0;
  }

  .stud-heading,
  .mare-heading {
    height: 100%;
    top: 80px;
  }

  .stud-heading h2,
  .mare-heading h2 {
    font-size: 2em;
  }


  .mares .content, 
  .studs .content,
  .broodMare .content,
  .gallery .content {
    grid-template-columns: 1fr;
  }

  .headline {
    width: 100%;
    height: 50vh;
  }

  .about, .contact {
    padding: 100px 20px;
  }
}