* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', 'Arial', sans-serif;
  /*scroll-behavior: smooth;*/
}

html, body {
    height: 100%;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  font-family: trajan-sans-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #ae9673;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.info-bar {
  width: 100%;
  height: 30px;
  background-color: #ae9673;
}

.info-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.info-bar ul li {
  padding-left: 30px;
  margin-top: 5px;
}

.header_facebook {
  margin-right: 50px;
}

.header_facebook a {
  color: #000;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 85px;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  z-index: 1000;
}

.navbar img {
  height: 75px;
  width: auto;
  justify-self: start;
  margin-left: 55px;
}

.navbar h2 {
  color: #fff;
  margin: 0 auto;
  font-family: 'IM Fell English SC', serif;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  justify-self: end;
}

.nav-item a {
  padding-left: 15px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #ae9673;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 100vh;
  min-height: 350px;
}

.heading {
  width: 100%;
  text-align: center;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.about {
  background-color: #ae9673;
  color: #000;
}

img {
  max-width: 100%;
}

.aboutBx {
  margin-bottom: 10px;
  padding-right: 20px;
}

.w50 {
  min-width: 50%;
}

.about, .contact {
  padding: 130px;
}

.contact {
  background-color: #c7b79e;
  text-align: center;
}

.contact p {
  margin-top: 5px;
  font-size: 1.20rem;
  text-align: center;
  font-weight: bold;
}

      .contact-info {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 20px;
      }

      .info {
        flex: 0 0 50%;
        padding-left: 20px;
      }

      form {
        padding-top: 10px;
      }

      input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* HORSES SECTION */
.studs {
  padding: 20px 0;
}

.studs .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.studs .content .studBx {
  width: 50%;
  margin: 0 auto;
  background-color: #c7b79e;
  padding-bottom: 10px;
}

.studs .content .studBx img {
  max-width: 100%;
}

.mares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0 auto;
  padding: 25px;
}

.for_sale {
  height: 40vh;
  text-align: center;
}

.studs article, .mares article {
  background-color: #c7b79e;
  padding-bottom: 10px;
}

.text h1, .text p {
  text-align: center;
  padding: 3px;
}

.text p {
  font-style: italic;
}

/* FOOTER */

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000;
}


.footerText {
  margin: auto;
  padding: 10px;
}

.footerText p {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}

.footer_facebook {
  margin: auto;
  padding: auto;
}

.footer_facebook a {
  color: #fff;
}

/* SEARCH FUNCTION */

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

  @media only screen and (max-width: 768px) {
  .info-bar {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .w50 img {
    margin-top: 20px;
  }

  .contact-info {
    flex-direction: column;
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

footer {
  display: flex;
  flex-direction: column;
}

.footerText p {
  font-size: 0.90rem;
}

/* STUDS */
.studs .content {
  grid-template-columns: 1fr;
  justify-items: center;
}

.studs .content .studBx {
  width: 75%;
  margin-top: 30px;
}

.mares {
  grid-template-columns: 1fr 1fr;
}

  /* MOBILE HEADINGS */

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #000;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
  transform: translate(0%)!important;
}

  /* SECTIONS */

  .headline {
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 630px) {
  .mares {
    grid-template-columns: 1fr;
  }
  .headline {
    width: 100%;
    height: 50vh;
  }

  .about, .contact {
    padding: 100px 20px;
  }
}